<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="admin">
        <label for="CourseID">CourseID</label>
        <input type="text" name="courseid">
        <label for="Link1">Link1</label>
        <input type="text" name="link1">
        <label for="Link2">Link2</label>
        <input type="text" name="link2">
        <label for="Link3">Link3</label>
        <input type="text" name="link3">
        <button type="submit">Change</button>
    </form>
</body>
</html>